<% var title = "EAC Arquivos - Adolescentes" %>
<% include ../header.ejs %>
<section class="container">
    <% if(locals.error != "") { %>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        <%= error %>
    </div>
    <% } %>
    <% if(locals.success && locals.success != "") { %>
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Sucesso:</span>
        <%= locals.success %>
    </div>
    <% } %>
    <h1><i class="glyphicon glyphicon-certificate"></i> Encontros</h1>
    <button type="button" class="btn btn-primary" onclick="window.location='/encontros/novo'">Novo</button>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th data-field="date" class="col-md-3 col-xs-3">Data</th>
                <th data-field="id" class="col-md-6 col-xs-6">Tema</th>
                <th data-field="name" class="col-md-1 col-xs-1">Presentes</th>
                <th class="col-md-2 col-xs-2">Ações</th>
            </tr>
            </thead>
            <% for(var i = 0; i < meetings.length; i++){ %>
            <tr class="clickable" data-click-action="/encontros/<%= meetings[i]._id %>">
                <td><%= meetings[i].formatDate("dd/mm/yyyy") %></td>
                <td><%= meetings[i].theme %></td>
                <td><%= meetings[i].presence.length %></td>
                <td>
                    <a class="btn btn-sm btn-primary" href="/encontros/<%= meetings[i]._id %>/excluir">Excluir</a>
                </td>
            </tr>
            <% } %>
            <% if(meetings.length == 0){ %>
            <tr>
                <td colspan="10" align="center"><i>Nenhum registro na base</i></td>
            </tr>
            <% } %>
        </table>
    </div>
</section>
<% include ../footer.ejs %>