<% var title = "EAC Arquivos - Cadastro de adolescente"; %>
<% include ../header.ejs %>
<section class="container">
    <% if(locals.error && locals.error != "") { %>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        <%= locals.error %>
    </div>
    <% } %>
    <% if(locals.success && locals.success != "") { %>
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Sucesso:</span>
        <%= locals.success %>
    </div>
    <% } %>
    <h1 class="watch-value" data-ref="theme" data-def="Novo Encontro">Encontro</h1>

    <form id="createMeeting" action="salvar" method="post" class="form-horizontal toValidate">
        <% var meetingToSave = locals.meeting || {};
        if (meetingToSave._id) { %>
        <input type="hidden" name="id" value="<%= meetingToSave._id %>"/>
        <% } %>
        <div class="form-group">
            <label for="date" class="col-sm-3 control-label">Data</label>

            <div class="col-sm-8">
                <input required type="date" id="date" name="date" class="form-control"
                       placeholder="Tema ou Título do Encontro"
                       value="<%= meetingToSave.date || "" %>"/>
            </div>
        </div>
        <div class="form-group">
            <label for="theme" class="col-sm-3 control-label">Tema</label>

            <div class="col-sm-8">
                <input required type="text" id="theme" name="theme" class="form-control"
                       placeholder="Tema ou Título do Encontro"
                       value="<%= meetingToSave.theme || "" %>" min="3" max="50"/>
            </div>
        </div>
        <div class="form-group">
            <label for="presence-roll" class="col-sm-3 control-label">Presentes</label>

            <div class="col-sm-8">
                <div class="row grid presence-roll-actived" data-toggle="modal" data-target="#myModal">
                    <% include ../teens/teen-cards.ejs %>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default btn-primary" disabled>Salvar</button>
            </div>
        </div>
    </form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Seleção de Adolescentes</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group col-lg-12 col-sm-12 col-md-12">
                            <input type="text" class="form-control" id="search-teen" data-container="#presence-roll"
                                   data-url="/adolescentes/por-termo/" placeholder="Nome ou código" name="termo"
                                   id="srch-term"autofocus>

                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row grid" id="presence-roll">
                    </div>
                    <div class="row grid presence-roll-actived">
                        <% include ../teens/teen-cards.ejs %>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<% include ../footer.ejs %>
<script type="application/javascript" src="/js/watchingProperty.js"></script>
<script type="application/javascript" src="/js/autoComplete.js"></script>
<script type="application/javascript" src="/js/meeting.js"></script>

