<% var title = "EAC Arquivos - Área Logada" %>
<% include ../header.ejs %>

<section class="container">

    <div class="col-xs-4 col-md-2">
        <img class="img-circle img-thumbnail" src="<%= locals.user.getPhotoThumbs("120") %>"
             alt="perfil <%= locals.user.firstName %>">
    </div>
    <div class="col-xs-8 col-md-10">
        <h2>Bem vindo <%= locals.user.firstName %></h2>
        <h4>(<%= locals.user.email %>)</h4>
    </div>
    <a class="btn btn-primary" href="/usuarios/<%= locals.user._id %>"><i class="glyphicon glyphicon-check"></i> Editar
        Perfil</a>
    <a class="btn btn-primary"><i class="glyphicon glyphicon-lock"></i> Alterar Senha</a>
</section>
<% include ../footer.ejs %>