<footer class="footer">
    <div class="container">
        <small class="text-muted">Todos os direitos reservados - EAC 2015</small>
    </div>
</footer>
<script type="application/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/validator.js"></script>
<script type="application/javascript" src="/js/clickable.js"></script>
</body>
</html>