<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/css/main.css">
</head>


<!-- Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">EAC Arquivos</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li <% if(currentPage == 'usuarios'){ %>class="active"
                        <% } %>
                        ><a href="/usuarios">Usuários <span class="sr-only">(current)</span></a></li>
                <li <% if(currentPage == 'adolescentes'){ %>class="active"
                        <% } %>
                        ><a href="/adolescentes">Adolescentes</a></li>
                <li <% if(currentPage == 'encontros'){ %>class="active"
                        <% } %>
                        ><a href="/encontros">Encontros</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
