<% var title = "EAC Arquivos - Occoreu um erro", currentPage = "error"; %>
<% include header.ejs %>
<section class="container">
    <h1>EAC Arquivos</h1>
    <h4>Infelizmente essa página não existe :(</h4>

    <hr>
    <p>Vamos voltar <a href="/">home page?</a> :)</p>
</section>
<% include footer.ejs %>