<% var title = "EAC Arquivos" %>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/css/main.css">
</head>
<body>
<section class="container">

    <% if(error != "") { %>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= error %>
    </div>
    <% } %>

    <form class="form-signin" action="/entrar" method="post">
        <h2 class="form-signin-heading">Entrar</h2>
        <label for="inputEmail" class="sr-only">Endereço de email</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Endereço de email" required
               autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Lembre-me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
</section>
</body>
<script type="application/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
