<% var title = "EAC Arquivos - Usuários" %>
<% include ../header.ejs %>
<section class="container">
    <% if(error != "") { %>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        <%= error %>
    </div>
    <% } %>
    <% if(locals.success != "") { %>
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Sucesso:</span>
        <%= locals.success %>
    </div>
    <% } %>
    <h1><i class="glyphicon glyphicon-user"></i> Usuários</h1>
    <button type="button" class="btn btn-primary" onclick="window.location='/usuarios/novo'">Novo</button>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th data-field="id" class="col-md-1 col-xs-2">Foto</th>
                <th data-field="id" class="col-md-3 col-xs-3">ID</th>
                <th data-field="name" class="col-md-4 col-xs-3">Nome</th>
                <th data-field="email" class="col-md-4 col-xs-4">Email</th>
            </tr>
            </thead>
            <% for(var i = 0; i < users.length; i++){ %>
            <tr class="clickable" data-click-action="/usuarios/<%= users[i]._id %>">
                <td align="center">
                    <div class="col-md-10 col-xs-12">
                        <img src="<%= users[i].getPhotoThumbs("48") %>" alt="perfil de <%= users[i].name %>"
                             class="img-thumbnail">
                    </div>
                </td>
                <td><%= users[i]._id %></td>
                <td><%= users[i].firstName + ' ' + users[i].lastName %></td>
                <td><%= users[i].email %></td>
            </tr>
            <% } %>
            <% if(users.length == 0){ %>
            <tr>
                <td colspan="3"><i>Nenhum registro na base</i></td>
            </tr>
            <% } %>
        </table>
    </div>
</section>
<% include ../footer.ejs %>