<% var title = "EAC Arquivos - Cadastro de usuário" %>
<% include ../header.ejs %>
<section class="container">

    <h1>Registro de usuário</h1>


    <form id="registerUser" action="salvar" method="post" class="form-horizontal toValidate"
          enctype="multipart/form-data">
        <% var userToShow = locals.user || {};
        if(userToShow._id) { %>
        <input name="_id" type="hidden" value="<%= userToShow._id %>">
        <% } %>

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Primeiro Nome</label>

            <div class="col-sm-8">
                <input required type="text" id="firstName" name="firstName" class="form-control"
                       value="<%= userToShow.firstName || "" %>"/>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Último Nome</label>

            <div class="col-sm-8">
                <input required type="text" id="lastName" name="lastName" class="form-control"
                       value="<%= userToShow.lastName || "" %>"/>
            </div>
        </div>
        <% if(!userToShow.photo){ %>
        <div class="form-group">
            <label for="photo" class="col-sm-3 control-label">Foto</label>

            <div class="col-sm-8">
                <input type="file" id="photo" name="photo" class="form-control"/>
            </div>
        </div>
        <% } %>
        <% if(!userToShow.email){ %>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">E-mail</label>

            <div class="col-sm-8">
                <input required type="email" id="email" name="email" class="form-control"/>
            </div>
        </div>
        <% }else{ %>
        <input type="hidden" name="email" value="<%= userToShow.email %>">
        <% } %>
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Usuário</label>

            <div class="col-sm-8">
                <input required type="text" id="username" name="name" class="form-control"
                       value="<%= userToShow.name || "" %>"/>
            </div>
        </div>
        <% if(!userToShow.password){ %>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Senha</label>

            <div class="col-sm-8">
                <input required type="password" id="password" name="password" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password_verify" class="col-sm-3 control-label">Confirmar Senha</label>

            <div class="col-sm-8">
                <input required type="password" id="confirmPassword" name="confirmPassword" class="form-control"/>
            </div>
        </div>
        <% } %>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default btn-primary" disabled>Salvar</button>
            </div>
        </div>
    </form>
</section>
<% include ../footer.ejs %>