<% var title = "EAC Arquivos - Adolescentes" %>
<% include ../header.ejs %>
<section class="container">
    <% if(locals.error != "") { %>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        <%= error %>
    </div>
    <% } %>
    <% if(locals.success && locals.success != "") { %>
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Sucesso:</span>
        <%= locals.success %>
    </div>
    <% } %>
    <h1><i class="glyphicon glyphicon-user"></i> Adolescentes</h1>
    <button type="button" class="btn btn-primary" onclick="window.location='/adolescentes/novo'">Novo</button>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th data-field="photo" class="col-md-1 col-xs-2">Foto</th>
                <th data-field="id" class="col-md-3">ID</th>
                <th data-field="name" class="col-md-4 ">Nome</th>
                <th data-field="email" class="col-md-4">Email</th>
            </tr>
            </thead>
            <% for(var i = 0; i < teens.length; i++){ %>
            <tr class="clickable" data-click-action="/adolescentes/<%= teens[i]._id %>">
                <td>
                    <div class="col-md-10 col-xs-10">
                        <img src="<%= teens[i].getPhotoThumbs("48") %>" alt="perfil de <%= teens[i].name %>"
                             class="img-thumbnail">
                    </div>
                </td>
                <td><%= teens[i]._id %></td>
                <td><%= teens[i].name %></td>
                <td><%= teens[i].email %></td>
            </tr>
            <% } %>
            <% if(teens.length == 0){ %>
            <tr>
                <td colspan="4" align="center"><i>Nenhum registro na base</i></td>
            </tr>
            <% } %>
        </table>
    </div>
</section>
<% include ../footer.ejs %>