<% var title = "EAC Arquivos - Cadastro de adolescente" %>
<% include ../header.ejs %>
<section class="container">

    <h1>Registro de usuário</h1>


    <form id="registerUser" action="salvar" method="post" class="form-horizontal toValidate"
          enctype="multipart/form-data">
        <% var teenToSave = locals.teen || {};
        if(teenToSave._id){ %>
        <input type="hidden" name="id" value="<%= teenToSave._id %>"/>
        <% } %>
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Nome</label>

            <div class="col-sm-8">
                <input required type="text" id="name" name="name" class="form-control" placeholder="Nome Completo"
                       value="<%= teenToSave.name || "" %>"/>
            </div>
        </div>
        <% if(!teenToSave.photo){ %>
        <div class="form-group">
            <label for="photo" class="col-sm-3 control-label">Foto</label>

            <div class="col-sm-8">
                <input type="file" id="photo" name="photo" class="form-control"/>
            </div>
        </div>
        <% } %>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">E-mail</label>

            <div class="col-sm-8">
                <input required type="email" id="email" name="email" class="form-control"
                       value="<%= teenToSave.email || "" %>"/>
            </div>
        </div>
        <div class="form-group">
            <label for="fatherName" class="col-sm-3 control-label">Nome do Pai</label>

            <div class="col-sm-8">
                <input required type="text" id="fatherName" name="fatherName" class="form-control"
                       value="<%= teenToSave.fatherName || "" %>"/>
            </div>
        </div>
        <div class="form-group">
            <label for="motherName" class="col-sm-3 control-label">Nome da Mãe</label>

            <div class="col-sm-8">
                <input required type="text" id="motherName" name="motherName" class="form-control"
                       value="<%= teenToSave.motherName || "" %>"/>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Telefone</label>

            <div class="col-sm-8">
                <input required type="tel" id="phone" name="phone" class="form-control"
                       value="<%= teenToSave.phone || "" %>"/>
            </div>
        </div>
        <div class="form-group">
            <label for="dateOfBirth" class="col-sm-3 control-label">Data de nascimento</label>

            <div class="col-sm-8">
                <input required type="date" id="dateOfBirth" name="dateOfBirth" class="form-control"
                       value="<%= locals.date || "" %>"/>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Endereço</label>

            <div class="col-sm-8">
                <input required type="text" id="address" name="address" class="form-control"
                       value="<%= teenToSave.address || "" %>"/>
            </div>
        </div>

        <div class="form-group">
            <label for="greatMeetingNumber" class="col-sm-3 control-label">Encontrão que participou</label>

            <div class="col-sm-8">
                <input type="number" id="greatMeetingNumber"
                       name="greatMeetingNumber" class="form-control"
                       value="<%= teenToSave.greatMeetingNumber || "" %>" min="1" max="99"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default btn-primary" disabled>Salvar</button>
            </div>
        </div>
    </form>
</section>
<% include ../footer.ejs %>