<% if(locals.teens) for(var i = 0;i < locals.teens.length;i++){ %>
<div class="col-md-12">
    <img src="<%= teens[i].getPhotoThumbs("48") %>" alt="perfil de <%= teens[i].name %>"
         class="img-thumbnail">
    <label class=""><%= teens[i].registrationNumber + " - " + teens[i].name %></label>
    <input type="hidden" name="presence" value="<%= teens[i]._id %>">
</div>
<% } %>
<% if(locals.teens && locals.teens.length == 0){ %>
<i>Nenhum registro</i>
<% } %>
<% if(locals.error){ %>
<i>Ocorreu um erro</i>
<% } %>