* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

body {
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer {
    position: absolute;
    bottom: 0;
}

.clickable:hover {
    cursor: pointer;

}

table td {
    vertical-align: middle !important;
}

.grid {
    display: block;
    background: white;
    margin: 0;
    border: 1px dashed #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}

.grid i {
    color: #aaaaaa;
}

.grid [class^=col-] {
    padding: 4px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.presence-roll-actived {
    cursor: pointer;
    height: 300px;
    overflow-y: scroll;
}

.modal-content .presence-roll-actived > div:hover {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 7px 0px rgba(255, 0, 0, 0.9);
    box-shadow: 0px 0px 7px 0px rgba(255, 0, 0, 0.9);
}

#presence-roll >  div:hover{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(28, 168, 0, 0.9);
    -moz-box-shadow: 0px 0px 7px 0px rgba(28, 168, 0, 0.9);
    box-shadow: 0px 0px 7px 0px rgba(28, 168, 0, 0.9);
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 25px;
}